

a, a:hover, a:visited, a:link, a:active, a .md-whiteframe, a h3 {
  color: black;
  text-decoration: none;
}

.loader {
  text-align:center;
  margin-top:25vh;
  transform:scale(0.5, 0.5);
}

.hidden {
  display:none;
}

.width-100 {
  width:100%;
}

.padding-16 {
  padding:16px;
}